__pycache__/
*.pyc
*.egg-info/
build/
dist/
.venv/
venv/
*.report.json
*.report.html
.pytest_cache/
.DS_Store

# API
*.db
.env

# Frontend
node_modules/
web/dist/
web/node_modules/

# TS build artifacts
web/*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts
